<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-5.2.3-dist/css/bootstrap.min.css">

    </body>

</html>
<title>Document</title>
</head>

<body>
    <form action="/signup" method="post">
        <div class="mb-3">
            <%= message %>
                <label for="name" class="form-label">name</label>
                <input name="name" type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">phone number</label>
            <input name="phone_number" type="number" class="form-control" id="number">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">password</label>
            <input name="password" type="password" class="form-control" id="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>
<script src="../../../../RESOURCES/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>